@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');


h1 {
  font-size:15em;
  position:sticky;
  height: 100px;
  display: inline;
}

html {
    font-family: 'Bubblegum Sans';

}
form {
    left: 65%;
    top: 60%;
    margin-left: -20%;
    margin-top: -25%;
    font-size:2em;
    display:inline;
    position:absolute;
}

form input:not([type="submit"]) {
  font-family: 'Bubblegum Sans';
  border: none;
  border-bottom: 1px solid;
  background:transparent;
  outline:none;
  box-sizing: border-box;
  width:150px;
  transition: width .5s ease, background-color .5s ease;
  opacity: 0.3;
  font-size:15px;
}

form select {
  border: none;
  border-bottom: 1px solid;
  background:transparent;
  outline: none;
  box-sizing: content-box;
  width:150px;
  transition: width .5s ease, background-color .5s ease;
  opacity: 0.3;
  font-size:0.6em;

}

form input:hover:not([type="submit"]), form input:focus:not([type="submit"]){
  border-bottom-color:lightsalmon;
  width: 250px;
  opacity: 1;
  font-size: 20px;
  font-family: 'Bubblegum Sans';

}

form select:hover, form select:focus{
  border-bottom-color:lightsalmon;
  width: 250px;
  opacity: 1;
  font-size: 20px;
  font-family: 'Bubblegum Sans';

}

input::-webkit-input-placeholder {
  font-size: 15px;
}

form button {
  font-family: 'Bubblegum Sans';
  font-size: 22px;
  border-bottom:1px solid;
}
